a {
    color: #fff;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    font: bold 18px sans-serif;
    background: #fd7c2a;
    -webkit-transition: background 2s; 
    transition: background 2s; 
}

a:hover {
    background: #3cc16e;
}

h1{
      color:#00c44b;
  }
body{
    background-image: url("https://www.nasa.gov/images/content/690958main_p1237a1.jpg");
    color: rgb(152, 43, 255);
}
h2, h3, p, li{
    background-color: rgba(251, 255, 0, 0.884);
}